* {
    @include box-sizing('border-box');
    @include transition(all 0.3s ease-in-out);
    margin: 0px;
    padding: 0px;
}

body {
    font: {
        family: $montserrat;
        size: $base_font_size;
    }

    color: $grey;
}

a {
    &:link,
    &:visited,
    &:active {
        text-decoration: none;
        color: $grey
    }

    &:hover {
        color: $ccBlue;
    }

    &.active {
        &:link,
        &:visited,
        &:active {
            color: $ccBlue;
        }
    }
}

p {
    line-height: 1.3em;
    font-weight: 200;
}

h1 {
    font: {
        size: em_font_size(35px);
    }
    color: $ccBlue;
    text-align: center;
    text-transform: uppercase;
    weight:normal;
}

h2 {
    @extend h1;
    font: {
        size: em_font_size(24px);
    }
}

h3 {
    @extend h1;
    font: {
        size: em_font_size(18px);
    }
}

input[type="text"] {
    border: 1px solid $ribbonGrey;
    padding: 6px 10px;
}

textarea {
    @extend input[type="text"];
    resize: none;
}

address {
    line-height: 1.3em;
}

hr {
    height: 0px;
    margin: 15px 0;
    border: none;
    border-bottom: 1px solid $lightGrey;
}