%absolute_position {
    position: absolute;
}

%relative_position {
    position: relative;
}
/*Padding shorthand version*/
@mixin padding($padding) {
  padding: $padding;
}
 /*Padding longhand version*/
@mixin padding-all($top, $right, $bottom, $left) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}
.nopadding{ @include padding(0px 0px 0px 0px !important); }

/*Margin shorthand version*/
@mixin margin($margin) {
  margin: $margin;
}

/*Margin longhand version*/
@mixin margin-all($top, $right, $bottom, $left) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}
.marlft-10{
    @include margin-all(null, null, null, 45px !important);
}
.marBtm-45{
    @include margin-all(null, null, 45px !important, null);
}


/*Background*/
@mixin background($imgpath,$position:0 0,$repeat: no-repeat) {
    background: {
        image: url($imgpath);
        position: $position;
        repeat: $repeat;
    }
}

/* Background Opacity */
@mixin background-opacity($color, $opacity) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

/* Animation Timers
---------------------------------*/
.delay-02s {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}

.delay-03s {
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}

.delay-04s {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

.delay-05s {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

.delay-06s {
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}

.delay-07s {
    animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
}

.delay-08s {
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
}

.delay-09s {
    animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
}

.delay-1s {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.delay-12s {
    animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
}
.delay-14s {
    animation-delay: 1.4s;
    -webkit-animation-delay: 1.4s;
}
.delay-16s {
    animation-delay: 1.6s;
    -webkit-animation-delay: 1.6s;
}
.delay-18s {
    animation-delay: 1.8s;
    -webkit-animation-delay: 1.8s;
}.delay-20s {
    animation-delay: 2.0s;
    -webkit-animation-delay: 2.0s;
}

/* Wrapper Styles */
.grnWrapper{
  @include background-opacity($green, 1);
}