/* Link CSS */
a{
    &:link, &:visited, &:active{
        color: $ccBlue;
    }
}

/* Buttons */
.btn{
    
    @include border-radius( 16px);
    @include padding(8px  20px  8px 20px);
    letter-spacing: em_font_size(2px);
    text-transform: uppercase;

    &:focus, 
    &:active:focus, 
    &.active:focus {
        outline: 0 none;
    }

}

.btn-primary{
    color: $white;
    background-color: $green;
    border: 0px;
    
    &:link, &:visited, &:active{
        color: $white;
    }

    &:hover{
        background-color: $lightGreen;
    }
    
   &:focus, 
   &:active, 
   &.active{
        background-color: $darkGreen;
    }
}

a.btn-primary{
    &:link{
        color: $white !important;
    }
}

.btn-link, a.btn-link{
    color: $ccBlue;
}

.btn-grey{
    @include background-opacity($black, 0.5);
    &:link, &:visited, &:active{
        color: $white;
    }
    &:hover{
        @include background-opacity($black, 0.4);
    }
    
   &:focus, 
   &:active, 
   &.active{
        @include background-opacity($black, 0.7);
    }
}

/* Dropdown Menu */
.dropdown-menu > .active > a, 
.dropdown-menu > .active > a:hover, 
.dropdown-menu > .active > a:focus{
    background-color: $ccBlue;
}
