$white:      #FFFFFF;
$black:      #000000;
$grey:       #8f8f8f;
$green:      #00a551;
$lightBlue:  #00d2ff;   
$ccBlue:     #2988c9;
$bannerBlue: #005ca4;
$greyBorder: #dbdbdb;
$navColor:   #9e9fa0;

$lightGreen: lighten($green, 4);  // #00b95b
$darkGreen:  darken($green, 0);   // #00a551 
$lightGrey:  lighten($grey, 36);  // #cfcfcf
$darkGrey:   darken($grey, 6);    // #646464
$ribbonGrey: lighten($grey, 51);  // #f5f5f5
$darkerGrey: darken($grey, 22);   // #3b3b3b

$default-transition-duration: 0.4s;

/* Font Varible */
$base_font_size: 14px;
$montserrat: montserrat, Helvetica, sans-serif;

/* media Query */
$smallDevices:  "only screen and (max-width : 320px)";
$minitab:       "only screen and (max-width : 480px)";
$tablets:       "only screen and (max-width : 768px)";
$desktops:      "only screen and (max-width : 992px)";
$wideScreens:   "only screen and (max-width : 1200px)";

@function em_font_size($size: 14px) {
    $final_size: $size / $base_font_size;
    @return unquote($final_size + 'em');
}

@mixin multi-border($color1: $ribbonGrey, $color2: $white) {
    border-top: 1px solid $color1;
    border-bottom: 1px solid $color1;
    position: relative;

    &:before, &:after {
        content: '';
        height: 1px;
        position: absolute;
        left: 0px;
        width: 100%;
        border-top: none;
        border-bottom: none;        
    }

    &:before {
        border-top: 1px solid $color2;
        top: 0px;
    }

    &:after {
        border-bottom: 1px solid $color2;
        bottom: 0px;
    }
}

@import 'compass';
@import 'font_declarations';
@import 'global_class_styles';
@import 'sass_theme';
@import 'global_tag_styles';
/* @import 'icon/social.png';
@import 'icon/services.png';
@include all-social-sprites;
@include all-services-sprites; */