@import 'vendor/bootstrap/bootstrap';
@import 'sass_config';

/**** Top Section Start ****/
.stickyNav{
    height: 60px;
    @include margin-all( 23px, null, 23px, null);
}
.logo{
    height:auto;
    line-height: auto;
    @include padding(0px 0px 0px 0px);
}
.callWrap{ float: right; }


.topCall{ 
        
    a.callBox{
        line-height: 38px;
        display: inline-block;
        @include padding(0px  12px  0px 12px);
        color:$white; 
        @include background('../images/callBg.png');
        @include border-radius(16px);
        overflow: hidden;
        font-size: em_font_size(15px);
        font-weight: bold;
        letter-spacing: 0.02em;
        
        i{
            @include margin-all( null, 4px, null, null);
            display: inline-block;
            vertical-align: middle;
        }
    }
    @media #{$wideScreens} {
        a.callBox{
            font-size: em_font_size(12px);  
            @include padding(0px  10px  0px 10px);  
            line-height: 32px;
        }
    }
    @media #{$desktops} {
        a.callBox{
            font-size: em_font_size(8px);  
            @include padding(0px  5px  0px 5px);  
            line-height: 26px;
            font-weight: normal;
        }
    }
    @media #{$tablets} {
        a.callBox{
            font-size: em_font_size(10px);  
            @include padding(0px  10px  0px 10px);  
            line-height: 30px;
            font-weight: normal;
        }
    }
}
.navbar-header{
    button{
        background-color: $ccBlue;
        @include margin-all(0px, 0px, null, null);
        @include padding(10px  6px  10px 6px);
        .icon-bar{
            background-color: $white;
        }
    }
}
.stickyNav{
    height: 45px;
}
.topSec{
    @include margin-all(null, null, 0px, null);
}
.navbar-collapse{
    
    @include padding-all( null, 0px, null, 0px);

    .nav.navbar-nav{
        
        float:right;
       
        & > li{ 
            & > a{
            text-transform: uppercase;
            font-size: em_font_size(14px);
            @include padding(10px  7px  10px 7px);
            font-weight: 400;
            color: $navColor;
                &:hover, &:hover, &:focus, &:visited{
                    background-color:transparent; 
                    color: $ccBlue;     
                }
            }
        }
        & > li.active{
            & > a{
                color: $ccBlue;
                &:active, &:hover, &:focus, &:visited{
                    color: $ccBlue;
                }
            }
        }
    }

    @media #{$wideScreens} {
        .nav.navbar-nav{
            & > li{ 
                & > a{
                    font-size: em_font_size(12px);
                }
            }
        }
    }
    @media #{$desktops} {
        .nav.navbar-nav{
            
            @include margin(0px 0px 0px 0px);

            & > li{ 
                & > a{
                    
                    font-size: em_font_size(10px);
                    @include padding(5px  5px  0px 5px);
                }
            }
        }
    }
    @media #{$tablets} {
        .nav.navbar-nav{
            
            width: 100%;
            border-top: 2px solid $greyBorder;

            & > li{ 
                border-bottom: 1px solid $greyBorder;
                & > a{

                    &:active, &:hover, &:focus, &:visited{
                        background-color: lighten($ccBlue, 50);
                    }
                }
            }
            & > li.active{
                & > a{
                    background-color: lighten($ccBlue, 50);
                    &:active, &:hover, &:focus, &:visited{
                        background-color: lighten($ccBlue, 50);
                    }
                }
            }
        }
    }

}

/**** Top Section End ****/

/**** Main Banner Section Start ****/
.mianBnner{
    
    height: 631px;
    overflow:hidden; 

    ul li{
        
        background: url('../images/bannerImg.png') no-repeat 0px 0px scroll;
        background-size: cover;
        height: 631px;
        text-align: center;

        h1{
            color: $white;
            font-size: em_font_size(70px);
            font-weight: 600;
            text-transform:uppercase;
            line-height: 80px;
            @include margin(0px 0px 0px 0px);
        }

        p{
            color: #fff;
            font-size: em_font_size(23px);
            line-height: 36px;
            @include margin(0px 0px 35px 0px);
        }

        .imgWrap{        
            display: table;
            width: 100%;
            height: 100%;  

            div{ 
                display: table-cell;
                vertical-align: middle;
                width: 100%;
            }
        }
    }
}
/**** Main Banner Section End ****/


/**** Request Banner Section Start ****/
.requestBanner{

    .contentBox{
        @include margin( 40px 0px 40px 0px);
        
        p{
            color: $white;
            font-size: em_font_size(17px);
            line-height: 24px;
            @include margin( 0px 0px 0px 0px);
        }
        h4{
            text-transform: uppercase;
            font-size: em_font_size(22px);
            @include margin( 0px 0px 20px 0px);
            font-weight: 400;
            color: $white;
        }
    }
    .reqBtn{
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        @include background-opacity($lightGreen, 1);
    }
}
/**** Request Banner Section End ****/

/**** Media Queries on root Start ****/

@media #{$desktops} {
    .topCall{ 
        @include margin-all( 0px, null, null, null);
    }
}
@media #{$tablets} {
    .topCall{

        float:right; 
        
        a.callBox{
            @include border-radius(5px);
            width: 36px;
            height:36px;
            line-height: 36px;

            i{
                font-size: em_font_size(25px);  
            }
        }
        span{ display: none; }
    }

    .callWrap{ float: left; }
    .logo{
        @include margin-all( 0px, null, null, null);
        display: block;
        img{
            max-width: none;
            width: 155px;  
        }
        
    }
    .navbar-collapse{
        
        @include margin-all( 15px, null, null, null);        

        &.in{
            overflow: visible;            
        }
    }
}

@media #{$minitab} {
    
    .topCall{
        @include margin-all( null, 10px, null, null);
    }

    .nav.navbar-nav{
        width: 100%;
        margin: 0px;
    }
    
    .navbar-header{
        @include padding-all( null, 10px, null, null);
    }    
}
/**** Media Queries on root End ****/